.wallet {
    margin-top: 30px;
    background-color: #fff;
    border: 1px solid #ebebeb;
}
.wallet ul {
    padding: 0;
    margin: 0;
}
.wallet li {
    list-style: none;
    padding: 15px 20px;
    border-bottom: #ebebeb; 
}
.wallet a {
    color: #000;
    border-bottom: 1px;
    font-size: 16px;
}
.wallet li {
    list-style: none;
    padding: 15px 20px;
    border-bottom: 1px solid #ebebeb;
}
.wallet .active {
    background-color: #814d9e;
}
.wallet .active a{
    color: #fff;
}
.wallet_balance {
    text-align: center;
}
.wallet_balance p{
    margin: 0;
}
.wallet_balance h2 {
    color: #ed1f24;
    margin: 15px;
    font-size: 35px;
}
.withdrwal_btn {
    background-color: #7047b1;
    color: #ffffff;
    padding: 8px 30px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    font-size: 16px;
}
table {
    background-color: transparent;
    width: 100%;
}
.wallet_history th {
    background-color: whitesmoke;
    padding: 10px;
}
.wallet_history td {
    padding: 10px;
    border-bottom: 1px solid whitesmoke;
}
.wallet_history {
    padding-top: 50px;
}
td.wallet_amount {
    color: #ed1f24;
}
.wallet_filter {
    padding-top: 50px;
}
button.withdrwal_btn.filte_btn {
    margin-top: 20px;
}